/* the 'star' means 'do this to everything'; box-sizing: border-box means to keep the boxes the same size*/

*{
    box-sizing: border-box;
}
h1{
    font-family:monospace;
}
main{
    display:flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    flex:1;
}
#appetizers, #mains, #desserts{
    background-color: rgb(91, 189, 208);
}